[build]
  command = "npm run build"
  publish = ".next"
  base = "frontend/solify-ui"

  [functions]
  directory = "netlify/functions"
    

[build.environment]
  NEXT_PUBLIC_HELIUS_RPC = "https://api.devnet.solana.com"
  NEXT_PUBLIC_PROGRAM_ID = "Dqm43aWDpiFr7cEk37Xnud7NPPo18dCBCkfN4hLJWHnT"
  NEXT_PUBLIC_COMMITMENT = "confirmed"

# Next.js specific settings
[[plugins]]
  package = "@netlify/plugin-nextjs"

# Handle Next.js routes
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Fallback for API routes and other dynamic paths
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/next"
  status = 200
